html{
	position: relative;
	min-height: 100%;
}

body{
	margin-bottom:60px;
}

nav{
	/* 设置nav元素的CSS样式 */
	width:100%;
	height: auto;/*auto:让nav标签的高度自适应子元素的高度 */
	background: burlywood;/* 设置nav元素的背景颜色 */
	
}

nav ul{
	display: flex;
	width:100%;
	height: auto;/*auto:让nav标签的高度自适应子元素的高度 */
	line-height: 2.5rem;
}
nav ul li{
	flex: 1;
	text-align: center;
	/* border: 1px solid #000; */
}
nav ul li:first-child{
	flex: 0.1;
	text-align: center;
}

nav ul li a{
	color:white;/* 字体颜色为白色 */
	text-decoration: none; /* 当a标签中存在href属性时去除下划线 */
}
 
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.75rem;
	background: black;
}

footer .dibu{
	color: white;
	text-align: center;
}
