.topAdv {
	height: 120px;
	background: url(../images/41d16e66381cfeda7b6b39ab67678d5e.webp) center center no-repeat;
	background-size: cover;
}

.navBox {
	background: #333333;
}

.navBoxIn {
	width: 1266px;
	height: 40px;
	margin: 0 auto;
	background: pink;
	line-height: 40px;
}

.navBoxInLeft {
	float: left;
}

.navBoxInRight {
	float: right;
}

.navBox a {
	color: #b0b0b0;
}

.navBoxIn span {
	color: #424242;
}

.navBoxInLeft a,.navBoxInLeft span,.navBoxInRight a,.navBoxInRight span{
	float: left;
}
.navBoxInLeft span,.navBoxInRight span{
	margin: 0 3.6px;
}
.cart{
	width: 120px;
	height: 40px;
	background: #000000;
	text-align: center;
}